*{
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 1.42;
    background: #001821;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}

a {
    text-decoration: none;
    color: inherit;
}

ul, p {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

.main-page-wrappper {
    background: url(/img/hero.png) center top no-repeat, url(/img/bottom_pic.png) center bottom no-repeat
}

.header__container {
    position: relative;
    margin: 0px auto 46px;
    width: 1140px;
    height: 150px;
}

.logo {
    display: block;
    position: absolute;
    top: 29px;
}

.logo__img {
    width: 85px;
    height: 36px;
}

.menu {
    position: absolute;
    left: 164px;
    top: 38px;
}

.menu__option {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

.menu__option--active .menu__link {
    color: #DA0100;
}

.menu__option:last-child {
    margin-right: 0;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover {
    color:#DA0100;
    ;
}

.contacts {
    position: absolute;
    line-height: 16px;
    top: 37px;
    right: 0;
    font-style: normal;
    text-align: right;
}

.contacts--move{
    top: 19px;
}

.contacts__tel {
    text-decoration: none;
    font-size: 26px;
}

.contacts__inf {
    font-size: 13px;
    text-decoration: underline;
    color: #98A4A8;
}

.contacts__inf:hover {
    color: #fff;
}

.contacts__inf-footer {
    color: #9A9A9A;
    font-size: 11px;
    line-height: 36px;
}

.container {
    margin: 0 auto;
    width: 1140px;
}

.hello {
    margin-bottom: 246px;
}

.hello__title {
    font-size: 72px;
    font-weight: 700;
    width: 511px;
    margin-bottom: 26.5px;
    line-height: normal;
}

.hello__info {
    font-size: 18px;
    margin-bottom: 31px;
}

.btn {
    border-radius: 35px;
    padding: 17px 40px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}

.btn--color--red {
    background: #F5170E;
}

.btn--color--red:hover {
    background: #DA0100;
    box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
}

.btn--color--white {
    border: 1px solid #F5170E;
    color: #F5170E;
    padding: 17px 30px;
}

.btn--color--white:hover {
    background: #F5170E;
    color: #fff;
}

.offers {
    margin-bottom: 125px;
}

.section__header {
    margin-bottom: 51px;
}

.section__title {
    font-size: 36px;
    font-weight: 700;
    display: inline-block;
    margin-right: 9px;
    margin-left: 2px;
}

.offers__title-icon {
    vertical-align: text-bottom;
}

.offers__item{
    min-height: 449px;
    background: #fff;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    margin-right: 22px;
    width: 362px;
    color: #000;
}

.offers__item:last-child {
    margin-right: 0;
}

.offers__img {
    width: 362px;
    height: 144px;
    overflow: hidden;
    position: relative;
    border-radius: 5px 5px 0 0;
}

.offers__img--moved--thai{
    width: 362px;
    position: absolute;
    bottom: -71px;
}

.offers__img--moved--bali {
    width: 362px;
    position: absolute;
    bottom: -78px;
}

.offers__img--moved--indo {
    width: 362px;
    position: absolute;
    bottom: -35px;
}

.offers__content {
    padding: 32px 0 26px 22px;
}

.offers__item-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.offers__features {
    padding-left: 5px;
    margin-bottom: 19px;
}

.offers__feature {
    display: inline-block;
    vertical-align: top;
    width: 127px;
    margin-right: 24px;
}

.offers__feature:last-child {
    margin-right: 0;
}

.offers__feature-icon {
    margin-right: 6px;
}


.offers__feature-text {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    color: #666;
    vertical-align: super;
}

.offers__text {
    font-size: 14px;
    color: #303030;
    line-height: 1.5;
    margin-bottom: 24px;
}

.news {
    margin-bottom: 144px;
}

.news__list {
    margin-bottom: 53px;
}

.news__item {
    width: 557px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 21px;
}

.news__item:last-child {
    margin-right: 0;
}

.news__img {
    display: block;
    width: 100%;
    height: 394px;
    object-fit: cover;
}

.news__text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px 30px;
}

.news__date {
    font-size: 14px;
    margin-bottom: 13px;
}

.news__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 4px;
}

.pagination {
    text-align: center;
}

.pagination__info, .pagination__list {
    display: inline-block;
    vertical-align: middle;
}

.pagination__info {
    margin-right: 25px;
}

.pagination__item {
    display: inline-block;
    vertical-align: middle;
    padding: 5px 11px;
    font-weight: 700;
    border-radius: 18px;
}

.pagination__item--active {
    color: #F5170E;
    background: #fff;
}

.pagination__item:hover {
    color: #F5170E;
    background: #fff;
}

.about {
    margin-bottom: 102px;
}

.about__back, .about__desc {
    display: inline-block;
    vertical-align: bottom;
}

.about__back {
    width: 490px;
    height: 505px;
    border-radius: 5px;
    overflow: hidden;
}

.about__back-img1 {
    width: 100%;
    height: 100%;
}

.about__desc {
    background: url(/img/mountains.png) center center / cover no-repeat;
    border-radius: 5px;
    padding: 70px 203px 70px 81px;
    width: 785px;
    height: 455px;
    margin-left: -141px;
    margin-bottom: -47px;
}

.about__title {
    color: #000;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 37px;
}

.about__desc--text {
    color: #060606;
    margin-bottom: 43px;
    line-height: 27px;
}

.footer {
    height: 104px;
    position: relative;
}

.footer-container__content {
    border-top: 1px solid rgb(255, 255, 255, .1)
}

.footer__wrapper {
    position: relative;
    top: 17px;
}

.socials {
    position: absolute;
    top: 53px;
    right: 440px;
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
}

.socials__item--icon--telegram .socials__link {
    background-image: url(/img/icons/t.png);
}

.socials__item--icon--telegram .socials__link:hover {
    background-image: url(/img/icons/t_hover.png);
}

.socials__item--icon--vk .socials__link {
    background-image: url(/img/icons/vk.png);
}

.socials__item--icon--vk .socials__link:hover {
    background-image: url(/img/icons/vk_hover.png);
}

.socials__item--icon--fb .socials__link {
    background-image: url(/img/icons/facebook.png);
}

.socials__item--icon--fb .socials__link:hover {
    background-image: url(/img/icons/facebook_hover.png);
}

.socials__item--icon--inst .socials__link {
    background-image: url(/img/icons/inst.png);
}

.socials__item--icon--inst .socials__link:hover {
    background-image: url(/img/icons/inst_hover.png);
}