.contacts {
    line-height: 16px;
    font-style: normal;
    text-align: right;
    position: relative;
}

.contacts__tel {
    text-decoration: none;
    font-size: 26px;
}

.contacts__inf-wrap {
    position: absolute;
    left: 92px;
}

.contacts__inf-wrap:hover .dropdown {
    left: -61%;
    opacity: 1;
}

.contacts__inf-wrap:hover .contacts__inf {
    color: #fff;
    transition: .5s;
}

.contacts__inf {
    font-size: 13px;
    text-decoration: underline;
    color: #98A4A8;
}

.contacts__inf-footer {
    color: #9A9A9A;
    font-size: 11px;
    line-height: 36px;
}