.contacts {
    line-height: 16px;
    font-style: normal;
    text-align: right;
    margin-top: 37px;
}

.contacts--move{
    margin-top: 19px;
}

.contacts__tel {
    text-decoration: none;
    font-size: 26px;
}

.contacts__inf {
    font-size: 13px;
    text-decoration: underline;
    color: #98A4A8;
}

.contacts__inf:hover {
    color: #fff;
}

.contacts__inf-footer {
    color: #9A9A9A;
    font-size: 11px;
    line-height: 36px;
}