.footer {
    height: 108px;
}

.footer-container__content {
    border-top: 1px solid rgb(255, 255, 255, .1)
}

.footer__wrapper {
    display: flex;
    margin-top: 39px;
    align-items: center;
}