.hello {
    margin-bottom: 145px;
}

.hello_wrapper{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 534px;
    width: 45%;
}

.hello__title {
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 26.5px;
    line-height: normal;
}

.hello__info {
    font-size: 18px;
    margin-bottom: 31px;
}