.menu {
    flex-grow: 1;
    margin-top: 40px;
    margin-left: 79px;
}

.menu__list {
    display: flex;
}

.menu__option {
    margin-right: 55px;
}

.menu__option--active .menu__link {
    color: #DA0100;
}

.menu__option:last-child {
    margin-right: 0;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover {
    color:#DA0100;
    ;
}