.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__info {
    margin-right: 36px;
}

.pagination__list {
    display: flex;
}

.pagination__item {
    padding: 5px 11px;
    font-weight: 700;
    border-radius: 18px;
}

.pagination__item--active {
    color: #F5170E;
    background: #fff;
}

.pagination__item:hover {
    color: #F5170E;
    background: #fff;
}

.pagination--theme--red .pagination__item--active {
    color: #fff;
    background: #F5170E;
}

.pagination--theme--red .pagination__item:hover {
    color: #fff;
    background: #F5170E;
}