.partners {
    display: flex;
    flex-wrap: wrap;
    column-gap: 74px;
}

.partners__item {
    flex-grow: 1;
}

.partners__link {
    display: flex;
    height: 130px;
    align-items: center;
    filter: grayscale(100%);
}

.partners__link:hover {
    filter: none;
}