.partners {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
}

.partners__item {
    margin-left: 18px;
}

.partners__link {
    display: flex;
    width: 270px;
    height: 130px;
    align-items: center;
    justify-content: center;
    filter: grayscale(100%);
}

.partners__link:hover {
    filter: none;
}