.services {
    margin-bottom: 65px;
}

.services__item {
    display: flex;
    margin-bottom: 49px;
}

.services__item:last-child {
    margin-bottom: 0;
}

.service {
    display: flex;
    align-items: center;
}

.service__img {
    width: 41%;
    margin-right: 49px;
}

.service__content {
    flex: 1;
}

.service__title {
    font-size: 36px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
}

.service__desc {
    margin-bottom: 34.5px;
    line-height: 27px;
}

.service__btn {
    padding: 17px 40px;
}