.socials {
    margin-right: 73px;
    display: flex;
}

.socials__item {
    margin-right: 10px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
}

/* telegram */

.socials__item--icon--telegram .socials__link {
    width: 36px; height: 36px;
    background: url(../../img/icons/socials/socials_sprites.png) -122px -10px;
    position: relative;
}

.socials__item--icon--telegram .socials__link::after {
    content: "";
    width: 36px; height: 36px;
    background: url(../../img/icons/socials/socials_sprites.png) -122px -66px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.socials__item--icon--telegram .socials__link:hover::after {
    opacity: 1;
    transition: .4s;
}

/* vk */

.socials__item--icon--vk .socials__link {
    width: 36px; height: 36px;
    background: url(../../img/icons/socials/socials_sprites.png) -10px -122px;
    position: relative;
}

.socials__item--icon--vk .socials__link::after {
    content: "";
    width: 36px; height: 36px;
    background: url(../../img/icons/socials/socials_sprites.png) -66px -122px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.socials__item--icon--vk .socials__link:hover::after {
    opacity: 1;
    transition: .4s;
}

/* facebook */

.socials__item--icon--fb .socials__link {
    width: 36px; height: 36px;
    background: url(../../img/icons/socials/socials_sprites.png) -10px -10px;
    position: relative;
}

.socials__item--icon--fb .socials__link::after {
    content: "";
    width: 36px; height: 36px;
    background: url(../../img/icons/socials/socials_sprites.png) -66px -10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.socials__item--icon--fb .socials__link:hover::after {
    opacity: 1;
    transition: .4s;
}

/* instagramm */

.socials__item--icon--inst .socials__link {
    width: 36px; height: 36px;
    background: url(../../img/icons/socials/socials_sprites.png) -10px -66px;
    position: relative;
}

.socials__item--icon--inst .socials__link::after {
    content: "";
    width: 36px; height: 36px;
    background: url(../../img/icons/socials/socials_sprites.png) -66px -66px    ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.socials__item--icon--inst .socials__link:hover::after {
    opacity: 1;
    transition: .4s;
}