.wrapper__content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    min-width: 1200px;
}

.main-page-wrapper {
    background: url(../../img/backgrounds/hero.png) center top no-repeat, 
    url(../../img/backgrounds/bottom_pic.png) center bottom 122px no-repeat;
}

.start-page-wrapper {
    width: 100%;
    height: 100%;
    background: url(../../img/backgrounds/girl_with_lamp.png) center top 67% no-repeat;
}

.start-page-wrapper__content{
    justify-content: center;
}